block var
    - var __version = new Date().getTime()

doctype html
html(lang='ko')
  head
    title #{title}
    if description
      meta(name='description', content=description)

    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    block head
    link(rel='stylesheet' href='/style.css?v=' + __version)
    script(src=`/alpine.js?v=${__version}`)
    script(src='./index.js')

    body
      block content



